body {
    background-color: rgb(164, 139, 139);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

/*FAQ */
#faq {
    background-color: #f9f9f9; 
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.faq-item h3 {
    color: #333; 
    margin-bottom: 5px;
}

.faq-item p {
    color: #666; 
    font-size: 14px;
}

/* Contact Us */
#contact-us {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#contact-us h2 {
    color: #007bff; 
    margin-bottom: 15px;
}

#contact-us ul {
    list-style-type: none; /* Retirer les puces */
    padding: 0;
}

#contact-us li {
    margin-bottom: 10px; 
    color: #555;
    font-size: 16px;
}
